.response {
  width: 50%;
  margin: 1em;
  padding: 0.5em;
  display: flex;
  overflow: hidden;
  justify-content: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 6px 0px rgba(148,148,148,1);
}

.text {
  width: 80%;
  overflow-wrap: break-word
}

.adminResponse {
  background-color: #DAF8C6;
  margin-left: auto
}

.userResponse {
  background-color: #FAFAFA;
}

.date {
  padding-top: 1%;
  font-size: 0.8em;
  color: gray;
  align-self: flex-end;
  overflow-wrap: break-word
}
