.adminSelect {
  align-self: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.answerField {
  flex-grow: 4;
  min-width: 100px;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.answerFormContainer{
 display: flex;
 height: 100px;
 margin-bottom: 20px;
}
